@charset "utf-8";

/* -------------------------------------------------
 * 公共部分
 * ------------------------------------------------- */

body{
	background: #e5e5e5 url(../../static/images/background.png);
	width: 100%;
	padding: 1rem 10%;
	padding-bottom: 0;
	box-sizing: border-box;
	font-size: .9em;
}